body, html {
    height: 100%;
    margin: 0;
}

body{
  background-color: #fff !important;
  background-image: url("https://i.imgur.com/7YQP6C1.pngprofie");
  background-position: center;
  background-size: 15%;
  background-repeat: repeat;
}

@font-face {
  font-family: 'Ubuntu-R';
  src: url('/static/fonts/Ubuntu-R.ttf')  format("truetype"),
       url('fonts/Ubuntu-R.ttf')  format("truetype"),
       local('Ubuntu-R');
}

@font-face {
    font-family: 'ubunturegular';
    src: url('/static/fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('/static/fonts/ubuntu-r-webfont.woff') format('woff'),
         url('fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('/static/fonts/ubuntu-l/ubuntu-l-webfont.woff2') format('woff2'),
         url('/static/fonts/ubuntu-l/ubuntu-l-webfont.woff') format('woff'),
         url('fonts/ubuntu-l/ubuntu-l-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-l/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Index Page*/
#landingSlide{
  /* The image used */
  background-image: url("https://i.imgur.com/O6G3IRE.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

#howItWorks{
  /* The image used */
  background-image: url("https://i.imgur.com/xmcqlq1.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

#casualCompetitive{
  /* The image used */
  background-image: url("https://i.imgur.com/admPSfP.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

#supportedGames{
  /* The image used */
  background-image: url("https://i.imgur.com/zbFTgGv.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

/*Mobile*/
/*Index Page*/
#howItWorksMobile{
  /* The image used */
  background-image: url("https://i.imgur.com/xmcqlq1.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#casualCompetitiveMobile{
  /* The image used */
  background-image: url("https://i.imgur.com/admPSfP.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgAndTextMobile{
  text-align: center;
  color: white !important;
  background: rgba(0, 0, 0, 0.7);
}

.meshwellIntroduction{
  text-align: center;
  color: #fff;
  font-weight: 100;
  z-index: 5;
}

.welcomeMessage{
  font-size: 3vw;
  text-shadow: 0 0 20px #000000;
  margin-bottom: 1%;
}

.hr.indexPage {
  margin-left: 20%;
  margin-right: 20%;
}

.container.fullFluid{
  max-width: 100% !important;
  z-index: 60;
}

.col.textStyle{
  padding-top: 1em;
}

.col.pictureCenter{
  display:flex;
  justify-content:center;
  align-items:center;
}

.pictureFill{
  padding-top: 1em;
  width: 100%;
}

/*Original code by Abbey Fitzgerald - https://getflywheel.com/layout/add-sticky-back-top-button-website/*/
/*Note: This code has been modified.*/
.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 10px;
  display: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #00000094;
  border-radius: 12px;
}

.back-to-top:hover{
  color: #2F97C1 !important;
  text-decoration: none !important;
}

.back-to-top i {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Scroller by Naoya - https://codepen.io/nxworld/pen/OyRrGy*/
section {
  position: absolute;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

section2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

section2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
}

#guider-anchor {}

.guider-arrow a {
  position: absolute;
  bottom: 3cm;
  z-index: 8;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-weight: 100;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.guider-arrow a:hover {
  opacity: .5;
}

#guider-anchor a {
  padding-top: 70px;
}
#guider-anchor a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-animation: sdb06 2s infinite;
  animation: sdb06 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    transform: rotateY(0deg) rotateZ(-45deg) translate(-3px, 3px);
    opacity: 1;
  }
  50% {
    transform: rotateY(0deg) rotateZ(-45deg) translate(0px, 0px);
    opacity: 0.3;
  }
  100% {
    transform: rotateY(0deg) rotateZ(-45deg) translate(-3px, 3px);
    opacity: 1;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0deg) rotateZ(-45deg) translate(-3px, 3px);
    opacity: 1;
  }
  50% {
    transform: rotateY(0deg) rotateZ(-45deg) translate(0px, 0px);
    opacity: 0.3;
  }
  100% {
    transform: rotateY(0deg) rotateZ(-45deg) translate(-3px, 3px);
    opacity: 1;
  }
}

/*Content Styling*/
.guiderContent{
  background-color: #272727;
  padding: 10px;
  font-size: 2em;
  color: white;
  border-style:  solid;
  border-width: 0px 0px 4px 0px;
}

.mainContent{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  margin-bottom: 3%;
  min-height: 60vh;
}

.headerContent{
  margin-bottom: 1cm;
  margin-left: -1cm;
  margin-right: -0.60vw;
  font-size: 4em;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  text-align: left;
  background: rgba(0, 0, 0, 0.4);
  color: #2f97c1;
  padding-left: 4cm;
}

.paragraphContent{
  column-count: 1;
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  padding-left: 20px;
  border-radius: 12px;
  padding: 30px;
}

.imgAndText{
  text-align: center;
  color: white !important;
  background: rgba(0, 0, 0, 0.4);
  padding-left: 4cm;
  padding-right: 4cm;
  padding-top: 1cm;
  padding-bottom: 1cm;
}

.customRow{
  margin: auto;
  margin-left: 4cm;
  margin-right: 4cm;
}

.form-control:focus {
  border-color: #00a2ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 76, 65, 0.6);
}

.customWidget{
  text-align: right;
}

.footer{
  background-color: #272727;
  color: white;
}

/*Dashboard*/
.dashboardContent{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.profileColumn1{
}

.profileColumn2{
  min-height: 100%;
  border: #cdcdcd 1px solid;
  border-radius: 10px;
  background-color: white;
}

.profilePicture{
}

.profileDetails{
  border: #cdcdcd 1px solid;
  border-radius: 10px;
  background-color: white;
}

.discordCustom{
}

.underline{
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  display: block;
  color: #676767;
  height: 3em;
}

.underline-game{
  border-bottom: 1px solid #cdcdcd;
  width: 96%;
  display: block;
  color: #676767;
  font-weight: 100;
}

.profileDetailsContent{
  margin-top: 3%;
  margin-left: 3%;
  overflow: auto;
}

.matchmakingButtons{
  margin: auto;
  margin-top: 2em;
}

.matchmakingInformation{
  margin-left: 2em;
  position: absolute;
}

.customTableTitle{
  margin-bottom: 1em;
  font-size: 20pt;
  font-weight: 100;
}

/*Profile Picture (Hover image effect by Mike Young - https://miketricking.github.io/bootstrap-image-hover/)*/
.hovereffect {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #00a2ff;
}

.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);

  margin-top: 35%;
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*Tables*/
.table .thead-dark th{
  background-color: #373737 !important;
  border-color: transparent !important;
  font-weight: 100;
}

.table-curved > :last-child > :last-child > :first-child{
  border-left: transparent !important;
}

.table-curved {
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
}

th{
  font-weight: 100;
}

tr{
  font-weight: 100;
}

td.value{
  color: #676767;
}

/*Smaller scroll area*/
.scrollable-sm {
  height: 200px;
  overflow: auto;
}

.scrollable{
  height: 500px;
  overflow: auto;
  overflow-x: -moz-hidden-unscrollable;
}

.rounded-sm{
  border-radius: 0.5rem !important;
}

.rounded-md{
  border-radius: 1rem !important;
}

.rounded-lg{
  border-radius: 1.5rem !important;
}

/*Buttons*/
.btn-secondary{
  color: #fff;
  background-color: #2660A4;
  border-color: #2660A4;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.btn-outline-secondary{
  color: #2660A4;
  background-color: transparent;
  background-image: none;
  border-color: #2660A4;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.btn-outline-secondary:hover{
  color: #fff;
  background-color: #2660A4;
  border-color: #2660A4;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

/* Remove if not needed */
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
  color: #fff;
  background-color: #2F97C1;
  border-color: #2F97C1;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.btn-primary{
  color: #fff;
  background-color: #2F97C1;
  border-color: #2F97C1;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.btn-primary-alternative{
  color: #fff;
  background-color: #2F97C1;
  border-color: #2F97C1;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.btn-primary-alternative:hover{
  color: #fff;
  background-color: #0069d9;
  border-color: #0069d9;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.btn-primary-alternative a{
  font-size: 2.25rem;
  text-decoration: none;
}

.btn-danger{
  color: #fff;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

[type=reset], [type=submit], button, html [type=button]{
  -webkit-appearance: none;
}
 /* Carousel */
.carousel{
  min-width: 100% !important;
}
.carousel img{
  margin: auto;
  max-height: 400px;
}
.carousel-inner{
  background:#4b4b4b;
}

.carousel-caption{
  bottom:0px;
  padding-bottom:0px;
}

.carousel .disconnected{
  filter: contrast(50%);
}
.carousel .player-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.carousel .player-text-background {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 0px;
  height: 25%;
  background: rgba(0, 0, 0, 0.7);
}
/*Navbar*/
.navbar-light .navbar-nav .nav-link{
  color: #2660A4;
  margin-left: 10px;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #2F97C1;
  border-bottom: 2px solid #2F97C1;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #2F97C1;
  border-bottom: 2px solid #2F97C1;
}

.li.nav-item{
  margin-right: 0.25cm !important;
}

.bg-light {
  background-color: #ffffff !important;
  background-image: url("");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat-y;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color: #ffffff;
}

.navbar-light .navbar-brand{
  color: #00a2ff;
}

.navbar-brand
{
  font-family: "timeburner";
    src: url("css/fonts/timeburner.eot");
    src:
    url("css/fonts/timeburner.woff") format("woff"),
    url("{% static 'fonts/timeburner.woff' %}") format("woff"),
    url("{% static 'fonts/timeburner.otf' %}") format("opentype"),
    url("{% static 'fonts/timeburner.svg#filename' %}") format("svg");

  font-size: 24pt;
}

.navBorder{
  border-style:  solid;
  border-width: 0px 0px 1px 0px;
  border-color: #00a2ff;
}

.navName{
  color: #2f97c1;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  padding-right: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
}

/*Dropdown Menu Style Override*/
.dropdown-menu{
  background-color: #373737 !important;
  border-color: #00a2ff !important;
}

.dropdown-item{
  color: #00a2ff !important;
}

.dropdown-item.active, .dropdown-item:active{
  color: #fff !important;
  background-color: #373737 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #373737 !important;
    color: #FFFFFF;
}

.dropdown-menu.customFooterDropdown{
  background-color: #373737 !important;
  border-color: #696969 !important;
  top: 135% !important;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-item.customItem{
  color: #fff !important;
}

.dropdown-item:hover{
  color: #fff !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #00a2ff;
}

.btn.btn-secondary.btn-lg.dropdown-toggle.customFooterButton{
  color: #fff !important;
  background:  transparent;
  border: transparent;
  font-weight:  100;
  margin-top: 30px;
}

/*About Us CSS*/
.aboutUsHeaderContent{
  margin-bottom: 1cm;
  font-size: 3em;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #2d363f;
}

.paragraphContent.aboutMe{
  column-count: 1;
  text-align: center;
  font-weight: 100;
  font-size: 19pt;
  background: none;
  color: #2d363f;
}

.h2.aboutMe {
  margin-top: 5%;
  font-weight: 100;
  color: #2d363f;
}

.hr.devTeam {
  margin-left: 20%;
  margin-right: 20%;
  color: #2d363f;
}

/* Shine by Noaya - https://codepen.io/nxworld/pen/ZYNOBZ */
.hover14 figure {
  position: relative;
}

.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.hover14 figure:hover::before {
  -webkit-animation: shine 1.75s;
  animation: shine 1.75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/*Tutorial CSS*/
.tutorialHeaderContent{
  margin-bottom: 1cm;
  font-size: 3em;
  font-weight:bold;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #419ef4;
}

.connectHeaderContent{
  margin-bottom: 1cm;
  font-size: 3em;
  font-weight:bold;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #f49741;
}

.matchmakeHeaderContent{
  margin-bottom: 1cm;
  font-size: 3em;
  font-weight:bold;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #f44c41;
}

.communicateHeaderContent{
  margin-bottom: 1cm;
  font-size: 3em;
  font-weight:bold;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #7289da;
}

.reviewHeaderContent{
  margin-bottom: 1cm;
  font-weight: bold;
  font-size: 3em;
  font-family: ubunturegular, Ubuntu-R, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #77f441;
}

.paragraphContenttutorial{
  column-count: 1;
  text-align: center;
  font-weight: 100;
  font-size: 12pt;
  background: none;
  color: #2d363f;
}



/*Mihir's CSS Code*/
/*Please dont use the HTML and BODY tags unless it is extremely necessary, as this will overwrite the entire website.
Use bootstrap tags whenever possible as this will reduce any scaling problems you will run into.
Use the standardised CSS tags I have created if possible.*/

/*Footer*/
.customSpacer{
  margin-top: -1px;
  height: 1px;
  background: linear-gradient(to right, #ffffff , #00a2ff, #ffffff);
}

#myFooter {
  background-color: #2D363F;
  color:white;
  border-top: 2px solid #222b33;
}

#myFooter .footer-copyright{
  background: #272e35;
  padding-top:4px;
  padding-bottom:3px;
  text-align: center;
}

#myFooter .footer-copyright p{
  margin:10px;
  color: #FFFFFF;
  font-weight: 100;
}

#myFooter ul{
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
  font-size: 13pt;
}

.myFooter.title{
  font-size: 16pt;
  font-weight: 100 !important;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 30px;
  text-shadow: 6px 6px 6px #000000;
}

#myFooter a{
  color:#FFFFFF;
  font-weight: 100;
  text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
  color:#7890a9;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 6px 6px 6px #000000;
}

#myFooter .myCols{
  text-align: center;
}

#myFooter .social-networks{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

#myFooter .social-networks a{
  font-size: 32px;
  margin-right: 5px;
  margin-left: 5px;
  color: #FFF;
  padding: 10px;
  transition: 0.2s;
  text-shadow: 6px 6px 15px #0000008a;
}

#myFooter .social-networks a:hover{
  text-decoration: none;
}

#myFooter .facebook:hover{
  color:#3B5998;
}

#myFooter .google:hover{
  color:#DB4437;
}

#myFooter .twitter:hover{
  color: #1DA1F2;
}

@media screen and (max-width: 767px){
  #myFooter {
    text-align: center;
  }
}

#myFooter{
  flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}


.Customcenter{
  text-align: center;
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  font-style: oblique;
  padding: 0%;
  position: relative;

}

#profile-image1{
  cursor: pointer;
  width: 300px;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 2px;
  border:0px solid black ;
}
