/*Content Styling*/

.guiderContent{
  background-color: #272727;
  padding: 10px;
  font-size: 2em;
  color: white;
  border-style:  solid;
  border-width: 0px 0px 4px 0px;
  border-color: #f44c41;
}

.mainContent{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 65px;
}

.headerContent{
  font-size: 2em;
  text-align: center;
}

.paragraphContent{
  column-count: 3;
}

.imgAndText{
  text-align: center;
}

.customRow{
  max-width: 1140px;
  margin: auto;
}

.form-control:focus {
  border-color: #F44C41;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 76, 65, 0.6);
}

.customWidget{
  text-align: right;
}

.footer{
  background-color: #272727;
  color: white;
}

/*Buttons*/

.btn-danger{
  color: #fff;
  background-color: #F44C41;
  border-color: #F44C41;
}

.btn-outline-danger{
  color: #F44C41;
  background-color: transparent;
  background-image: none;
  border-color: #F44C41;
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle{
  color: #fff;
  background-color: #F44C41;
  border-color: #F44C41;
}

.btn-primary{
  color: #fff;
  background-color: #419ef4;
  border-color: #419ef4;
}

/*Carousel*/

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.carousel img {
  margin: auto;
  min-width: 100% !important
}

.carousel-inner{
  background:#272727;
}

/*Navbar*/

.navbar-light .navbar-nav .nav-link{
  color: #f44c41;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #ffffff;
}

.bg-light {
  background-color: #373737 !important;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color: #ffffff;
}

.navbar-light .navbar-brand{
  color: #f44c41;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #f44c41;
}

.dropdown-menu{
  background-color: #373737 !important;
  border-color: #f44c41 !important;
}

.dropdown-item{
  color: #f44c41 !important;
}

.navbar-brand
{
  font-family: "timeburner";
    src: url("css/fonts/timeburner.eot");
    src:
    url("css/fonts/timeburner.woff") format("woff"),
    url("{% static "fonts/timeburner.woff" %}") format("woff"),
    url("{% static "fonts/timeburner.otf" %}") format("opentype"),
    url("{% static "fonts/timeburner.svg#filename" %}") format("svg"),

  font-size: 24pt;
}

.navBorder{
  border-style:  solid;
  border-width: 0px 0px 1px 0px;
  border-color: #f44c41;
}

/*Mihir's CSS Code*/

#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}


html{
	height: 100% !important;
}

body{
    display: center;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

/*USER PROFILE CSS*/
.table-user-information  {
  border-style: solid;
width:600%;
margin-left: auto;
margin-right: auto;


padding: 20px;
text-align: left;
    border-top: 3px solid black;
    position: relative;
    font-size: 60px;
    right:310px;
    top: 2px;

}

/*shading for table*/
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-user-information > td {

  border-top: 0;
  width:500px;
  height:50px;
margin-left: auto;
margin-right: auto;
    position: relative;
    left: 100px;
    top: 2px;

}

th {
  padding:10px;
  text-align:center
}
h1 {
  position: relative;
  font-size: 100px;
  left: 1400px;
  top: 2px;
}

h4 {
  text-align: center;
  font-size: 80px;
  line-height: 40px;
  position: relative;
  left: 200px;
  top: 2px;
}

.Commendations {
border-style: solid;

width: 350%;
margin-left: auto;
margin-right: auto;
padding: 20px;
text-align: center;
border-top: 3px solid black;
position: relative;
font-size: 60px;
right:575px;
top: 2px;

}

.hidden {
position: center;
left: -9999px;
position: relative;
left: 160px;
top: 2px;
}



#profile-image1 {
cursor: pointer;

width: 600px;
height: 600px;
position: relative;
left: 160px;
top: 2px;
border:0px solid black ;}


}
