{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="mainContent">
  <div class="headerContent">
    {{ message }}
  </div>
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- OLD (just kept for testing crispy_forms)
    {% for field in form %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="{{ field.name }}">
        {{ field.label_tag }}
      </label>
      <div class="col-sm-10">
        {{ field }}
      </div>
      {{ field.errors }}
    </div>
    {% endfor %}
    {{ form.non_field_errors}}
    -->
    <button class="btn btn-danger" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
