{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %} Registration{% endblock %}
{% block content %}
<div class="mainContent">
	<div class="headerContent">
		Signup
	</div>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="">
				{{ field.label_tag }}
			</label>
			<div class="col-sm-10">
				{{ field }}
			</div>
			{{ field.errors }}
		</div>
		{% endfor %}
		<button class="btn btn-danger" type="submit">Register</button>
	</form>
</div>
{% endblock %}
