<html>
 <head>
   <title>Profile Page></title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
     crossorigin="anonymous">
<h1>Profile Page</h1>
<body>





<p>Welcome to the Profile Page,here you can edit your personal details for other players to see and get to know you better!</p>

 <ul>
    <li><strong>UserName:</strong> {{ username }}</li>

    <li><strong>First Name:</strong> {{ first_name }}</li>

	 <li><strong>Last Name:</strong> {{ last_name }}</li>

	 <li><strong>email:</strong>  {{ email }}</li>

    <li><strong>Birth_date:</strong> {{ date_birth }}</li>

	<li><strong>Commendations:</strong> {{ commendations }}</li>

  <li><strong>Sessions Played:</strong> {{ sessions_played }}</li>

  </ul>
  <br>


  <input type="button" class="btn btn-danger" value="EDIT INFO" onclick="location.href = '#EDIT PROFILE URL';">







</body>
</html>
