{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="mainContent">

<div class="hover14 column"><h1 style="text-align: center;"><figure><img class="aboutMeHeaderImg" src="{% static "css/images/meshwell_logo.png" %}" alt="Generic placeholder image" width="140px" height="140px"></figure></h1></div>

<div class="headerContent aboutMe">
	About Us
</div>
</br>
<div class="paragraphContent aboutMe">
	Meshwell is a collaboration project as part of RMIT's "Programming Project 1 - COSC2408" course. <br> The project strives to provide a smart matchmaking service to gamers who can't find other gamers to play with by using an algorithm that matches certain metrics to ensure that all matched players are on the same "level". Metrics used in Meshwell's algorithm include confirmed MMR levels from the game itself, availability time of players, region, if want to play competitive playlists, and also uses a commendation system to help filter out positive and negative players.   
</div>

</br>
<hr>
</br>

<div class="headerContent aboutMe">
	Meshwell Development Team
</div>

<br>

<div class="imgAndText">
</br>
	<div class="row">
		<div class="col-lg-3">
			<img class="rounded-circle" src="{% static "css/images/avatars/james.svg" %}" alt="James McDowell" width="140" height="140" style="box-shadow: 0 0 0pt 2pt #419ef4;">
			<div class ="h2 aboutMe">James McDowell</div> <hr style="margin-left:  20%; margin-right:  20%;">
			<p>Project Lead</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-3">
			<img class="rounded-circle" src="{% static "css/images/avatars/ashneel.svg" %}" alt="Ashneel Deo" width="140" height="140" style="box-shadow: 0 0 0pt 2pt #f49741;">
			<div class ="h2 aboutMe">Ashneel Deo</div> <hr style="margin-left:  20%; margin-right:  20%;">
			<p>Scrum Master</p>
		</div><!-- /.col-lg-4 -->		
		<div class="col-lg-3">
			<img class="rounded-circle" src="{% static "css/images/avatars/mihir.svg" %}" alt="Mihir Kothapally" width="140" height="140" style="box-shadow: 0 0 0pt 2pt #f44c41;">
			<div class ="h2 aboutMe">Mihir Kothapally</div> <hr style="margin-left:  20%; margin-right:  20%;">
			<p>Product Owner</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-3">
			<img class="rounded-circle" src="{% static "css/images/avatars/jon.svg" %}" alt="Jon Del Torre" width="140" height="140" style="box-shadow: 0 0 0pt 2pt #77f441;">
			<div class ="h2 aboutMe">Jon Del Torre</div> <hr style="margin-left:  20%; margin-right:  20%;">
			<p>Developer</p>
		</div><!-- /.col-lg-4 -->
	</div>
</div>

</br>
</br>

</div><!--/mainContent-->
{% endblock %}
