{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %} Meshwell {% endblock %}</title>

		<!-- CSS files will be linked below this line -->

		<!-- Compiled and minified CSS will be linked below this line -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">

		<!-- Favicon support -->
		<link rel="shortcut icon" href="{%  static 'css/images/favicon/favicon.ico' %}">
		<link rel="apple-touch-icon" sizes="57x57" href="{%  static 'css/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{%  static 'css/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{%  static 'css/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{%  static 'css/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{%  static 'css/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{%  static 'css/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{%  static 'css/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{%  static 'css/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{%  static 'css/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{%  static 'css/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{%  static 'css/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{%  static 'css/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{%  static 'css/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{%  static 'css/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#">
			   <img src="{% static "css/images/meshwell_logo.png" %}" width="60" height="60" class="d-inline-block" alt="">
			    meshwell
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Link</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Dropdown
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Disabled</a>
			      </li>
			    </ul>
			    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    {% if user.is_authenticated %}
                           <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                           <a class="btn btn-danger" href="{% url 'login' %}">Login</a>
                    {% endif %}
                    </li>
                </ul>
			  </div>
			</nav>
		</header>

		<!-- Custom code goes below here -->
		{% block content %}

		{% endblock %}

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	<!-- FOOTER -->
	<footer>
		<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

	    <!--Footer Links-->
	    <div class="container text-center text-md-left">
	        <div class="row">

	            <!--First column-->
	            <div class="col-md-4">
	                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Footer Content</h5>
	                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
	                    amet, consectetur adipisicing elit.</p>
	            </div>
	            <!--/.First column-->

	            <hr class="clearfix w-100 d-md-none">

	            <!--Second column-->
	            <div class="col-md-2 mx-auto">
	                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
	                <ul class="list-unstyled">
	                    <li>
	                        <a href="#!">Link 1</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 2</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 3</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 4</a>
	                    </li>
	                </ul>
	            </div>
	            <!--/.Second column-->

	            <hr class="clearfix w-100 d-md-none">

	            <!--Third column-->
	            <div class="col-md-2 mx-auto">
	                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
	                <ul class="list-unstyled">
	                    <li>
	                        <a href="#!">Link 1</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 2</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 3</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 4</a>
	                    </li>
	                </ul>
	            </div>
	            <!--/.Third column-->

	            <hr class="clearfix w-100 d-md-none">

	            <!--Fourth column-->
	            <div class="col-md-2 mx-auto">
	                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
	                <ul class="list-unstyled">
	                    <li>
	                        <a href="#!">Link 1</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 2</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 3</a>
	                    </li>
	                    <li>
	                        <a href="#!">Link 4</a>
	                    </li>
	                </ul>
	            </div>
	            <!--/.Fourth column-->
	        </div>
	    </div>
	    <!--/.Footer Links-->

	    <hr>

	    <!--Call to action-->
	    <div class="text-center py-3">
	        <ul class="list-unstyled list-inline mb-0">
	            <li class="list-inline-item">
	                <h5 class="mb-1">Register for free</h5>
	            </li>
	            <li class="list-inline-item">
	                <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
	            </li>
	        </ul>
	    </div>
	    <!--/.Call to action-->

	    <hr>

	    <!--Social buttons-->
	    <div class="text-center">
	        <ul class="list-unstyled list-inline">
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-fb mx-1">
	              <!--href from previous footer-->  <a href="https://www.facebook.com/MeshwellPlayTogether/" class="facebook"><i class="fa fa-facebook"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-tw mx-1">
	                    <i class="fa fa-twitter"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-gplus mx-1">
	                    <i class="fa fa-google-plus"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-li mx-1">
	                    <i class="fa fa-linkedin"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-dribbble mx-1">
	                    <i class="fa fa-dribbble"> </i>
	                </a>
	            </li>
	        </ul>
	    </div>
	    <!--/.Social buttons-->

	    <!--Copyright-->
	    <div class="footer-copyright py-3 text-center">
	        © 2018 Copyright:
	        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>
	    </div>
	    <!--/.Copyright-->

	</footer>
	<!--/.Footer-->
</html>
