{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="mainContent">
  <h1>Currently Supported Games</h1>
  <hr>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="RS6 Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/YohXVTy.png">
            <div class="card-body">
              <h4 class="card-text">Rainbow Six Siege</h4>
              <p class="card-text">Tom Clancy's Rainbow Six Siege is a tactical shooter video game developed by Ubisoft Montreal and published by Ubisoft.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Rocket League Thumbnail (Coming Soon) [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/Gxxy0GB.png">
            <div class="card-body">
              <h4 class="card-text">Rocket League</h4>
              <p class="card-text">Soccer meets driving once again in the long-awaited, physics-based sequel to the beloved arena classic, Supersonic Acrobatic Rocket-Powered Battle-Cars!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Overwatch Thumbnail (Coming Soon) [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/xWb87yv.png">
            <div class="card-body">
              <h4 class="card-text">Overwatch</h4>
              <p class="card-text">In a time of global crisis, an international task force of heroes banded together to restore peace to a war-torn world: OVERWATCH.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
