{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h3>Connected Game Accounts</h3>
<table>
	<tr>
		<td>Game Name</td>
		<td>Connected Account</td>
		<td>Platform</td>
		<td>Casual Rank</td>
		<td>Competitive Rank</td>
	</tr>
	<tr>
	{% for key, value in accounts.items %}
		<td>{{ value.game_name }}</td>
		<td>{{ value.game_player_tag }}</td>
		<td>{{ value.platform }}</td>
		<td>{{ value.cas_rank }}</td>
		<td>{{ value.comp_rank }}</td>
		{% if value.connected %}
		<td>
			<form action="#" method="get">
				<input type="hidden" name="game" value="{{ value.game.name }}">
				<input type="submit" class="btn btn-danger btn-sm" value="Remove" name="Unlink Account">
			</form>
		</td>
		{% else %}
		<td>
			<a href="{% url 'connect_account' %}" class="btn btn-success btn-sm" value="Connect Account">Connect Account</a>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
