{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}CSS Standard{% endblock %}
{% block content %}

<br>

<div class="mainContent">

<!-- Header Example -->
<div class="guiderContent">
	This is a header.
</div>

</br>

<div class="headerContent">
	This is the standardised CSS for Meshwell. Please apply the appropriate tags to your template design.
</div>

</br>

<!-- Paragraph Example -->
<div class="guiderContent">
	This is a paragraph of content.
</div>

</br>

<div class="paragraphContent">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis lorem at ultrices efficitur. Nunc quis nisl ac mauris semper sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vel massa nunc. Curabitur venenatis arcu vel nibh malesuada fermentum a eget massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam non consectetur neque, porttitor finibus ligula. Fusce posuere massa sed eros porta, et ultrices enim tincidunt. Ut nec iaculis erat, eu dapibus tortor. Vestibulum rutrum sem quis fringilla euismod. Nulla id imperdiet nunc.

	Donec non magna quis ex blandit convallis. Sed ornare maximus est, sit amet euismod dui. Curabitur tristique vestibulum enim in ultricies. Fusce eu ultrices nunc, vitae mattis nunc. Fusce imperdiet felis a luctus semper. Aliquam tincidunt vestibulum accumsan. Integer tempus suscipit aliquam. Nullam sit amet tortor massa. Curabitur tempus urna nec efficitur aliquet. Donec porta enim ligula, eget scelerisque magna sollicitudin et. Proin tortor neque, lobortis ut mauris vel, porta volutpat eros. Sed nec eros at leo sagittis consectetur tempor id nulla. Morbi risus ante, facilisis vitae ante in, dignissim iaculis dolor. Donec vulputate semper convallis.
</div>

</br>

<!-- Table Example -->
<div class="guiderContent">
	This is a table.
</div>

</br>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">First</th>
			<th scope="col">Last</th>
			<th scope="col">Handle</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Larry</td>
			<td>the Bird</td>
			<td>@twitter</td>
		</tr>
	</tbody>
</table>

</br>

<!-- Image and Text Example -->
<div class="guiderContent">
	This is the image and text example.
</div>

</br>

<div class="imgAndText">
	<div class="row">
		<div class="col-lg-4">
			<img class="rounded-circle" src="https://i.imgur.com/DzSLYiQ.png" alt="Generic placeholder image" width="140" height="140">
			<h2>Register!</h2>
			<p>Register your account.</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="rounded-circle" src="https://i.imgur.com/c3hLj2z.png" alt="Generic placeholder image" width="140" height="140">
			<h2>Matchmake!</h2>
			<p>Using our algorithm, we'll find other gamers who match your preferences.</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="rounded-circle" src="https://i.imgur.com/PMg9ohs.jpg" alt="Generic placeholder image" width="140" height="140">
			<h2>Meshwell!</h2>
			<p>Play together and have fun!</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
		</div><!-- /.col-lg-4 -->
	</div>
</div>

</br>

<!-- Catalog Example -->
<div class="guiderContent">
	This is a catalog example.
</div>

<br>

<div class="customRow">
	<div class="row">
	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/CXO7SzZ.jpg" data-holder-rendered="true">
	        <div class="card-body">
	        	<p class="card-text" style="font-size: 2em">Tom Clancy's Rainbow Six Siege</p>
	          <p class="card-text">Tom Clancy's Rainbow Six Siege is a tactical shooter video game developed by Ubisoft Montreal and published by Ubisoft.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: #f44c41; color: white; border-color: #f44c41;">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://i.imgur.com/HfQnAF9.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	          <p class="card-text" style="font-size: 2em">Rocket League</p>
	          <p class="card-text">Described as "soccer, but with rocket-powered cars", Rocket League has one to four players assigned to each of the two teams, using rocket-powered vehicles to hit a ball into their opponent's goal and score points over the course of a match.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: #f44c41; color: white; border-color: #f44c41;">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://i.imgur.com/wz2PijI.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	        	<p class="card-text" style="font-size: 2em">Players Unknown Battlegrounds</p>
	          <p class="card-text">One hundred players parachute onto an island and scavenge for weapons and equipment to kill others while avoiding getting killed themselves. The available safe area of the game's map decreases in size over time, directing surviving players into tighter areas to force encounters. The last player or team standing wins the round.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: #f44c41; color: white; border-color: #f44c41;">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162841c2460%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162841c2460%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162841c2462%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162841c2462%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162841c2462%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162841c2462%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162841c2462%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162841c2462%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162841c2464%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162841c2464%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="card mb-4 box-shadow">
	        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162841c2464%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162841c2464%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
	        <div class="card-body">
	          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	          <div class="d-flex justify-content-between align-items-center">
	            <div class="btn-group">
	              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
	            </div>
	            <small class="text-muted">9 mins</small>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

<br>

<!-- Forms Example -->
<div class="guiderContent">
	This is a registration form example.
</div>

<br>

<form>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail" placeholder="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputBirthdate" class="col-sm-2 col-form-label">Birthdate</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="inputBirthdate" placeholder="dd/mm/yyyy">
    </div>
  </div>
  <button type="submit" class="btn btn-danger">Register</button>
</form>

<br>

<!-- Buttons Example -->
<div class="guiderContent">
	This is a buttons example.
</div>

<br>

<div class="paragraphContent">
	<button type="submit" class="btn btn-danger">Login</button>
	<button type="submit" class="btn btn-outline-danger">Logout</button>
	<button type="submit" class="btn btn-primary">Confirm</button>
</div>

<br>

<!-- Discord Widget Example -->
<div class="guiderContent">
	This is a Discord widget example.	
</div>

<br>

<div class="customWidget">
	<iframe src="https://discordapp.com/widget?id=418990653641588736&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>

</div><!--/mainContent-->

{% endblock %}