{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="mainContent">
	<br>
	<div class="imgAndText">
		<div class="row">
			<div class="col-sm-10" style="border-right: 1px solid; border-color: #c1c1c1;">
				<div class="headerContent">
					{{ message }}
				</div>
			</div>
			<div class="col-sm-2">
				<div class="customWidget">
					<iframe src="https://discordapp.com/widget?id=418990653641588736&theme=dark" width="300" height="500" allowtransparency="true" frameborder="0"></iframe>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 2%;">
			<div class="col-lg-4">
				<img class="rounded-circle" src="css/images/dashboard/avatar.png" alt="Profile link image" width="140" height="140">
				<h2>Profile</h2>
				<p>View and Edit your profile.</p>
				<p>
					<a href="{% url 'profile' %}" class="btn btn-secondary" role="button">Take me there!</a>
				</p>
			</div>
			<div class="col-lg-4">
				<img class="rounded-circle" src="css/images/dashboard/avatar.png" alt="Connected Accounts link image" width="140" height="140">
				<h2>Connected Game Accounts</h2>
				<p>View and Edit your connected game accounts.</p>
				<p>
					<a href="{% url 'connected_accounts' %}" class="btn btn-secondary" role="button">Take me there!</a>
				</p>
			</div>
			<div class="col-lg-4">
				<img class="rounded=circle" src="css/images/dashboard/avatar.png" alt="Availability link image" width="140" height="140">
				<h2>Availability</h2>
				<p>View and Edit your availability.</p>
				<p>
					<a href="#" class="btn btn-secondary" role="button">Take me there!</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
