{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="mainContent">
	<br>
	<div class="imgAndText">
		<div class="row">
			<div class="col-sm-10" style="border-right: 1px solid; border-color: #c1c1c1;">
				<div class="headerContent">
					{{ message }}
				</div>
				<br>
				<!-- Profile, Connected Game Accounts, Availability -->
				<div class="row" style="margin-top: 2%;">
					<div class="col-lg-4">
						<img class="rounded-circle" src="{% static "css/images/dashboard/avatar.png" %}" alt="Profile link image" width="140" height="140">
						<h2>Profile</h2>
						<p>View and Edit your profile.</p>
						<p>
							<a href="{% url 'profile' %}" class="btn btn-secondary" role="button">Take me there!</a>
						</p>
					</div>
					<div class="col-lg-4">
						<img class="rounded-circle" src="{% static "css/images/dashboard/avatar2.png" %}" alt="Connected Accounts link image" width="140" height="140">
						<h2>Connected Game Accounts</h2>
						<p>View and Edit your connected game accounts.</p>
						<p>
							<a href="{% url 'connected_accounts' %}" class="btn btn-secondary" role="button">Take me there!</a>
						</p>
					</div>
					<div class="col-lg-4">
						<img class="rounded=circle" src="{% static "css/images/dashboard/avatar3.png" %}" alt="Availability link image" width="140" height="140">
						<h2>Availability</h2>
						<p>View and Edit your availability.</p>
						<p>
							<a href="{% url 'availability' %}" class="btn btn-secondary" role="button">Take me there!</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="customWidget">
					<iframe src="https://discordapp.com/widget?id=418990653641588736&theme=dark" width="300" height="500" allowtransparency="true" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- Connected accounts -->
	<div class="headerContent">
		Connected game accounts
	</div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Game Name</th>
				<th scope="col">Connected Account</th>
				<th scope="col">Platform</th>
				<th scope="col">Casual Rank</th>
				<th scope="col">Competitive Rank</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			{% for value in connected_accounts %}
				<td>{{ value.game.name }}</td>
				<td>{{ value.game_player_tag }}</td>
				<td>{{ value.platform }}</td>
				<td>{{ value.cas_rank }}</td>
				<td>{{ value.comp_rank }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- Availabilities -->
	<div class="headerContent">
		Availabilities
	</div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Day</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Time</th>
				<th scope="col">Competitive</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			{% for value in availabilities %}
				<td>{{ value.pref_day }}</td>
				<td>{{ value.start_time }}</td>
				<td>{{ value.end_time }}</td>
				<td>{{ value.competitive }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- Previous sessions -->
	<div class="headerContent">
		Previous sessions
	</div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Game</th>
				<th scope="col">Date</th>
				<th scope="col">Start</th>
				<th scope="col">End</th>
				<th scope="col">Competitive</th>
				<th scope="col">Rating</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			{% for value in prev_sessions %}
				<td>{{ value.session.game }}</td>
				<td>{{ value.session.start|date:'D d-m-Y' }}</td>
				<td>{{ value.session.start|date:'H:i' }}</td>
				<td>{{ value.session.end_time|time:'H:i' }}</td>
				<td>{{ value.session.competitive }}</td>
				<!-- Show the rating they gave the session, or allow them to rate it -->
				{% if value.rating %}
				<td>{{ value.rating }}/5</td>
				{% else %}
				<td>
					<form action="#" method="get">
						<input type="hidden" name="id" value="{{ value.id }}">
						<input type="submit" class="btn btn-info btn-sm" value="Rate" name="Rate">
					</form>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
