<html>
<head>
<title>Contact Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>


<h1>FEEDBACK FORM</h1>



<body>
	<p>Your feedback is greatly appreciated, as it helps us to deliver you with a better service!</p>
<!--Using form.py & view.py to call feedback form-->
	<form method="post">
    		{% csrf_token %}
		 {{ form.as_p }}
		 <br>
	 <input type="submit" class="btn btn-info" value="Submit Button">
 </form>
 </body>


 </html>
