{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="bg">
	<div class="meshwellIntroduction">
		<img src='https://i.imgur.com/vrz3ZJx.png' height="300px" onmouseover="this.src='https://i.imgur.com/KEYtbom.png';" onmouseout="this.src='https://i.imgur.com/vrz3ZJx.png';" />
		<div class="welcomeMessage">
			A smart matchmaking system to find your new team and friends.
		</div>
	</div>
	<section id="section06" class="demo">
	 	<a href="#howItWorks"><span></span>How it works</a>
	</section>
</div>

<div id="howItWorks">
	<div id="" class="container fullFluid">
	 	<div class="row">
		    <div class="col textStyle">
		     	<div class="headerContent" style="">
					<i class="fas fa-code-branch"></i> How it works
				</div>
				<br>
				<div class="imgAndText">
					<div class="row">
						<div class="col-lg-3">
							<img class="rounded-circle" src="https://i.imgur.com/RfKr8xQ.jpg" alt="Generic placeholder image" width="140" height="140">
							<h2>Connect!</h2>
							<p>Connect your discord and game accounts. Add your preferences, connect your account, and start searching.</p>
						</div><!-- /.col-lg-3 -->
						<div class="col-lg-3">
							<img class="rounded-circle" src="https://i.imgur.com/RB1Eg7i.png" alt="Generic placeholder image" width="140" height="140">
							<h2>Matchmake!</h2>
							<p>Using our algorithm, we'll find other gamers who match your preferences.</p>
						</div><!-- /.col-lg-3 -->
						<div class="col-lg-3">
							<img class="rounded-circle" src="https://i.imgur.com/X9rfJ69.png" alt="Generic placeholder image" width="140" height="140">
							<h2>Communicate!</h2>
							<p>Connect to our Discord server, communicate and have fun.</p>
						</div><!-- /.col-lg-3 -->
						<div class="col-lg-3">
							<img class="rounded-circle" src="https://i.imgur.com/kWN3hEo.jpg" alt="Generic placeholder image" width="140" height="140">
							<h2>Review!</h2>
							<p>Rate and commend your teammates to improve future sessions!</p>
						</div><!-- /.col-lg-3 -->
					</div>
				</div>
		    </div>
	 	</div>
	</div>
	<section2 id="section062" class="demo2">
		<a href="#supportedGames"><span></span>Games currently supported</a>
	</section2>
</div>

<div id="supportedGames">
	<div id="" class="container fullFluid">
	 	<div class="row">
		    <div class="col textStyle">
		     	<div class="headerContent" style="background: rgba(0, 0, 0, 0.8) !important;">
					<i class="fas fa-hands-helping"></i> Games we currently support
				</div>
				<div class="row" style="margin-top: 2cm; margin-left: 4cm !important; margin-right: 4cm !important;">
				    <div class="col pictureCenter">
				      <img class="" src='https://i.imgur.com/EjPOE4y.png' style="width: 75%; max-width: 600px;"/>
				    </div>
				    <div class="col textStyle">
						<br>
						<div class="paragraphContent" style="">
							<img class="" src='https://i.imgur.com/vyodKdo.jpg' style="width: 50%;" "/> <br><br>
							Tom Clancy's Rainbow Six Siege is a tactical shooter video game developed by Ubisoft Montreal and published by Ubisoft.
						</div>
				    </div>
			 	</div>
				<br>
		    </div>
	 	</div>
	</div>
	<br>
	<section2 id="section062" class="demo2">
		<a href="{% url 'register' %}"><span></span>Let's get started!</a>
	</section>
</div>
{% endblock %}
