{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="bg">
	<div class="meshwellIntroduction">
		<img src='https://i.imgur.com/vrz3ZJx.png' height="300px" onmouseover="this.src='https://i.imgur.com/KEYtbom.png';" onmouseout="this.src='https://i.imgur.com/vrz3ZJx.png';" />
		<div class="welcomeMessage">
			A smart matchmaking system to find your new team and friends.
		</div>
	</div>
	<section id="section06" class="demo">
	 	<a href="#whatIsMeshwell"><span></span>Find out more</a>
	</section>
</div>

<div id="whatIsMeshwell">
	<div class="container fullFluid">
	 	<div class="row">
		    <div class="col textStyle">
		     	<div class="headerContent" style="">
					<i class="fas fa-exclamation-circle"></i> What is Meshwell?
				</div>
				<br>
				<div class="paragraphContent" style="">
					Meshwell is a smart matchmaking system designed for gamers who want to find other like-minded individuals who want to play games. Through the use of various preferences and weighting, Meshwell will attempt to find players with similiar and complimenting skills to ensure you have the best gaming experience.
				</div>
		    </div>
		    <div class="col pictureCenter">
		      <img class="pictureFill" src='https://images5.alphacoders.com/700/700496.jpg'/>
		    </div>
	 	</div>
	</div>
	<section2 id="section062" class="demo2">
		<a href="#howItWorks"><span></span>How does it work?</a>
	</section>
</div>

<div id="howItWorks">
	<div id="" class="container fullFluid">
	 	<div class="row">
		    <div class="col textStyle">
		     	<div class="headerContent2" style="">
					<i class="fas fa-code-branch"></i> How does it work?
				</div>
				<br>
				<div class="imgAndText">
					<div class="row">
						<div class="col-lg-4">
							<img class="rounded-circle" src="https://i.imgur.com/DzSLYiQ.png" alt="Generic placeholder image" width="140" height="140">
							<h2>Register!</h2>
							<p>Add your preferences, connect your account, and start searching.</p>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<img class="rounded-circle" src="https://i.imgur.com/c3hLj2z.png" alt="Generic placeholder image" width="140" height="140">
							<h2>Matchmake!</h2>
							<p>Using our algorithm, we'll find other gamers who match your preferences.</p>
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<img class="rounded-circle" src="https://i.imgur.com/PMg9ohs.jpg" alt="Generic placeholder image" width="140" height="140">
							<h2>Meshwell!</h2>
							<p>Play together and have fun!</p>
						</div><!-- /.col-lg-4 -->
					</div>
				</div>
		    </div>
	 	</div>
	</div>
	<section2 id="section062" class="demo2">
		<a href="#supportedGames"><span></span>What games do you support?</a>dsfdsfesfef
	</section2>
</div>

<div id="supportedGames">
	<div id="" class="container fullFluid">
	 	<div class="row">
		    <div class="col textStyle">
		     	<div class="headerContent2" style="background: rgba(0, 0, 0, 0.8) !important;">
					<i class="fas fa-hands-helping"></i> Games we currently support
				</div>
				<div class="row" style="margin-top: 2cm; margin-left: 4cm !important; margin-right: 4cm !important;">
				    <div class="col pictureCenter">
				      <img class="" src='https://i.imgur.com/EjPOE4y.png' style="width: 75%; max-width: 600px;"/>
				    </div>
				    <div class="col textStyle">
						<br>
						<div class="paragraphContent" style="">
							<img class="" src='https://i.imgur.com/vyodKdo.jpg' style="width: 50%;" "/> <br><br>
							Tom Clancy's Rainbow Six Siege is a tactical shooter video game developed by Ubisoft Montreal and published by Ubisoft.
						</div>
				    </div>
			 	</div>
				<br>
		    </div>
	 	</div>
	</div>
	<br>
	<section2 id="section062" class="demo2">
		<a href="{% url 'register' %}"><span></span>Let's get started!</a>
	</section>
</div>
{% endblock %}
