<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Meshwell</title>

	<!-- CSS files will be linked below this line -->

	<!-- Compiled and minified CSS will be linked below this line -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="{% static "css/images/meshwell_logo.png" %}" width="60" height="60" class="d-inline-block" alt="">
				meshwell
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Dropdown
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	{% extends 'base.html' %}

	{% block title %}Login{% endblock %}

	{% block content %}
	  <h2>Login</h2>
	  <form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Login</button>
	  </form>
	{% endblock %}

	<!--Test Code -->
	<!-- Custom code goes below here -->
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 mx-auto">

						<!-- form card login -->
						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Login to existing account</h3>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
									<div class="form-group">
										<label for="uname1">Username</label>
										<input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
										<div class="invalid-feedback">Oops, you missed this one.</div>
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
										<div class="invalid-feedback">Enter your password too!</div>
									</div>
									<div>
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description small text-dark">Remember me on this computer</span>
										</label>
									</div>
									<button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
								</form>
							</div>
							<!--/card-block-->
						</div>
						<!-- /form card login -->
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/col-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->

	<!-- Custom code goes below here -->
	{% block title %}Login{% endblock %}
	{% block content %}
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 mx-auto">

						<!-- form card login -->
						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Login to existing account</h3>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
									{% csrf_token %}
   									{{ form.as_p }}
									<div class="form-group">
										<label for="uname1">Username</label>
										<input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
										<div class="invalid-feedback">Oops, you missed this one.</div>
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
										<div class="invalid-feedback">Enter your password too!</div>
									</div>
									<div>
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description small text-dark">Remember me on this computer</span>
										</label>
									</div>
									<button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
								</form>
							</div>
							<!--/card-block-->
						</div>
						<!-- /form card login -->
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/col-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->
	{% endblock %}

	<div id="dummyText" class="dummyTextClass">
		<h1>
		You are now on the index page.</br>
	</h1>
	<h2>
		This user was obtained via the API:
	</h2>
	<p>
		<ul>
			<li>
				Username: {{ username }}
			</li>
			<li>
				First Name: {{ first_name }}
			</li>
			<li>
				Last Name: {{ last_name }}
			</li>
			<li>
				Preferred Server: {{ pref_server }}
			</li>
		</ul>
	</p>
</div>
<!-- Javascript files should always be at the bottom of the page -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/btn.js"></script>
</body>
</html>