{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="mainContent">
  <h1>Privacy Policy</h1>
  <hr>
  <p>	
	This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of Meshwell.<br>
	We use your Personal Information only for providing and improving our Services.<br> 
	By using our Service, you agree to the collection and use of information in accordance with this policy.
  </p>
  <h3>Information Collection and Use </h3>
  <p>
	While using our website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.<br> 
	Personally identifiable information may include, but is not limited to your name (Personal Information).
  </p>

  <h3>Security </h3>
  <p>
	The security of your Personal Information is important to us, but remember that no method oftransmission over the Internet, or method of electronic storage, is 100% secure.<br> 
	While we strive to use commercially acceptable means to protect your Personal Information,<br> 
	we cannot guarantee its absolute security but we will try our outmost best.
  </p>

  <h3>Communication</h3>
  <p>
	We may use your Personal Information (email) to contact you with newsletters,<br> 
	updates, new games being supported and any account related issues.	
  </p>

  <h3>Changes to Pirvacy Policy</h3>
  <p>
	This Privacy Policy is effective as of (add date) and will remain in effect except with respect to any changes in its provisions in the future,<br> 
	which will be in effect immediately after being posted on this page. 
  <br><br>
	We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically.<br> 
	Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment<br>
	of the modifications and your consent to abide and be bound by the modified Privacy Policy.
  <br><br>
	If we make any material changes to this Privacy Policy, we will notify you either through the<br>
	email address you have provided us, or by placing a prominent notice on our website.
  </p>

  <h3>Contact Us</h3>
  <p>
	If you have any questions about this Privacy Policy, please contact us.<br>
	<a href="https://www.meshwell.ml/contact-us">https://www.meshwell.ml/contact-us</a>	
  </p>
</div>
{% endblock %}
