{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %} Profile Page | Meshwell {% endblock %}
{% block content %}
<p>Welcome to the Profile Page,here you can edit your personal details for other players to see and get to know you better!</p>

 <ul>
    <li><strong>UserName:</strong> {{ username }}</li>

    <li><strong>First Name:</strong> {{ first_name }}</li>

	 <li><strong>Last Name:</strong> {{ last_name }}</li>

	 <li><strong>email:</strong>  {{ email }}</li>

    <li><strong>Birth_date:</strong> {{ date_birth }}</li>

	<li><strong>Commendations:</strong> {{ commendations }}</li>

  <li><strong>Sessions Played:</strong> {{ sessions_played }}</li>

  </ul>

  <input type="button" class="btn btn-danger" value="EDIT INFO" onclick="location.href = '#EDIT PROFILE URL';">
  {% endblock %}