{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="mainContent">
  <h1>Terms of Service</h1>
  <hr>
  <p>
	By using our service you agree that your personal information will be stored on our servers.<br>
	Meshwell will never give your information to third parties. That would be rude.<br>
	Meshwell may use your information to improve our matchmaking system for you, so that you get better<br>
	sessions with better players and matches; overall enjoyable yet serious matches.
	<br><br>
	Please read these Terms of Use carefully before using <a href="http://www.meshwell.ml">http://www.meshwell.ml</a> website operated by us; Meshwell.<br>
 	Your access to and use of the Service is condition on your acceptance of and compliance with these Terms.<br> 
	These Terms apply to all visitors, users and others who access or use our website.
	<br><br>
	By access or using the Service you agree to be bound by these Terms of Service and Privacy Policy.<br>
	If you disagree with any part of the terms then we suggest that you do not access of use our website.
	<br><br>
	Here is the Summary of the Term of Service:
	<ul>
	<li>Agree with the Privacy Policy.</li>
	<li>Meshwell can only be used with the supported games<br>
	<a href="https://www.meshwell.ml/catalog">https://www.meshwell.ml/catalog</a></li>
	<li>Must register an account with us to gain access to our Service.</li>
	<li>Must already have a Discord account.</li>
	<li>Must already have an account with the supported games we support.</li>
	<li>You are solely responsible for protecting your own account with us; Meshwell,
	the games we support and Discord.</li>
	<li>Admins or Staff will not ask for any account sensitive information</li>
	<li>Do not use Meshwell if you do not agree to the Term of Use.<br>
	 Your use of Meshwell means you agree to these Terms of Use.</li>
	</ul>
    <h3>Termination of Service</h3>
	If, for any reason, Meshwell believes that you have not complied or breached our Terms of Service,<br>
	Meshwell reserves the right to at any time terminate or suspend
	access to your account.<br>
	This breach may be (but is not limited to) one of the following:
	<br><br>
    <ul>
      <li>Displaying toxic behaviour toward your peers</li>
      <li>Insulting staff</li>
    </ul>
	If you no longer wish to have a registered account with us,<br>
	you may terminate your account through the deactivation page at any time.<br>
	To deactivate account: <a href="https://www.meshwell.ml/account/deactivate">https://www.meshwell.ml/account/deactivate</a>
  </p>
</div>
{% endblock %}
