{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="mainContent">
	<div class="headerContent">
		{{ message }}
	</div>
	<br>
  <p>
    <h3>Personal information</h3>
    By using our service you agree that your personal information will be stored on our servers.<br>
    Meshwell will never give your information to third parties. That would be rude.<br>
    Meshwell may use your information to improve our matchmaking system for you, so that you get better matches.<br>
    <h3>Service usage</h3>
    Meshwell reserves the right to at any time remove access to your account, if you breach our terms of service.
    This breach may be (but is not limited to) one of the following:
    <ul>
      <li>Displaying toxic behaviour toward your peers</li>
      <li>Insulting staff</li>
    </ul>
  </p>
</div>
{% endblock %}
