{% extends 'mysite/base_meshwell.html' %}
{% load static %}
{% block title %}Tutorial{% endblock %}
{% block content %}
<div class="mainContent">

<div class="hover14 column"><h1 style="text-align: center;"><figure><img class="aboutMeHeaderImg" src="{% static "css/images/meshwell_logo.png" %}" alt="Generic placeholder image" width="140px" height="140px"></figure></h1></div>

<div class="aboutUsHeaderContent aboutMe">
	Simple 5 step guide to using Meshwell

</div>

<div class="tutorialHeaderContent">
Step 1: Login/Sign Up
</div>

<div class="paragraphContent aboutMe">
 Simply Sign up and Login with your account on the top right hand corner to get started!
</div>
</br>
<hr>

</br>
<div class="connectHeaderContent">
Step 2: Connect
</div>
<div class="paragraphContent aboutMe">
  Click 'Dashboard' on the navigation bar to set up your initial settings!
</div>
<div class="paragraphContenttutorial">
 <ul>
 <li>Click on the  "Connect" button, to connect your in game account to Meshwell.</li><br /><br />
 <li>Click on the 'Add new Availability' button, to add your availabilities and timings.</li><br /><br />
 <li>Click on the 'Preferences' button, to rank and choose what the most important qualities you're looking for in a team-mate are.</li><br></br>
 <li>Click on the "Connect" button under the personal profile on the left hand side of the page to connect your discord and recieve messages.</li></ul>
</div>


</br>
<hr>
</br>

<div class="matchmakeHeaderContent">
	Step 3: Matchmake
</div>
<div class="paragraphContent aboutMe">
	Click on the Matchmake buttons to find gamers based on your preferences!
</div>
<div class="paragraphContenttutorial">
 <ul>
 <li>'Smart Matcmake'  uses our algorithm to find you a team compatible players.</li><br /><br />
 <li>'Manual Matchmake' gives you a list of potential Players that you can select from.</li><br /><br />
 </ul>
</div>

</br>
<hr>
</br>

<div class="communicateHeaderContent">
Step 4: Communicate
</div>
<div class="paragraphContent aboutMe">
Get on Discord and start communicating with your uniqely selected team-mate!
</div>
<div class="paragraphContenttutorial">
<ul> <li>Our discord bot will create a room with all your matched team-mates and message you!
</div>

</br>
<hr>
</br>

<div class="reviewHeaderContent">
Step 5: Review
</div>
<div class="paragraphContent aboutMe">
Review your matches once completed!
</div>


</div><!--/mainContent-->
{% endblock %}
